<!--templates/base.html-->
{% load static %}
<html>
    <head>
        <title>NuBlog</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
        <body>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url 'home' %}">NuBlog</a>
                <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                      </ul>
                    <div class="navbar navbar-right">
                        <a href="{% url 'post_new' %}"><button class="btn btn-outline-success my-2 my-sm-0" type="button">New Blog Post</button></a>
                        </div>
                   
                </div>
                
            </nav>
                
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg col-md col-sm col-xs">
<div class="card">
    <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
    <div class="card-body">
        <h4 class="card-title"><a href="{% url 'home' %}" class="nulink">NuBlog</a></h4>
        <p class="card-text">

            {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
            <p><a href="{% url 'logout' %}">Log Out</a></p>
            {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In</a>
            {% endif %}
                                  
            {% block content %}
            {% endblock content %}
    
    
        </p>
    </div>
</div>
          
                        </div>
                    </div>
                    
                </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
